SPRING_PROFILES_ACTIVE=prod
ADMIN_PORT=8080

DB_URL=jdbc:mysql://127.0.0.1:3306/fitness_platform?useUnicode=true&characterEncoding=utf-8&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=GMT%2B8
DB_USERNAME=root
DB_PASSWORD=root

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DATABASE=0

MINIO_ENDPOINT=http://127.0.0.1:9000
MINIO_PUBLIC_ENDPOINT=http://files.localhost
MINIO_ACCESS_KEY=root
MINIO_SECRET_KEY=rootroot
MINIO_BUCKET=lease
