SPRING_PROFILES_ACTIVE=prod
APP_PORT=8082

DB_URL=jdbc:mysql://127.0.0.1:3306/fitness_platform?useUnicode=true&characterEncoding=utf-8&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=GMT%2B8
DB_USERNAME=root
DB_PASSWORD=root

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DATABASE=0

MINIO_ENDPOINT=http://127.0.0.1:9000
MINIO_PUBLIC_ENDPOINT=http://127.0.0.1:9000
MINIO_ACCESS_KEY=root
MINIO_SECRET_KEY=rootroot
MINIO_BUCKET=lease

PAY_SIGN_MODE=mock
PAY_SIGN_SECRET=demo-sign-secret
FITNESS_JWT_SECRET=please_set_a_32+_char_secret
FITNESS_AUTH_CAPTCHA_ENABLED=true
FITNESS_DEV_ENABLED=false
